<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>1001_Servlet_sendRedirect</display-name>
   
   
   <servlet>
      <servlet-name>Addition</servlet-name>
      <servlet-class>com.servlet.AddServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>Addition</servlet-name>
       <url-pattern>/addRequest</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>Square</servlet-name>
      <servlet-class>com.servlet.Square</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>Square</servlet-name>
      <url-pattern>/sqrtRequest</url-pattern>
   </servlet-mapping>
   
   
   
</web-app>